Build
Binaries
DerivedDataCache
Intermediate
Saved

Content/*

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
Config/DefaultEngine.ini
East_AirTanker_IL78.png
East_APC_BTR82.png
East_Bomber_SU24.png
East_Fighter_Su30.png
East_Fighter_Su33.png
East_Heli_Mi8T.png
East_MRAP_UralTyphoon.png
East_SPG_2S3Akatsia.png
East_SRMB_Iskander.png
East_Tank_T72b.png
East_Transport_IL76.png
West_LCAC_LCAC1.png
Config/DefaultEngine.ini
